@import url(fonts/style.css);

:root {
  --background-color: #450057; 
  --header-color: #7c2492;
  --text-color: lightblue;
  --link-color: #c000a6;
}

html {
  color: var(--text-color);
  align-items: center;
  text-align: center;
}

body {
  margin: 8px;
  background: var(--background-color);
}

div.blur {
  width: 100%;
  height: 100%;
  transition: backdrop-filter 0.1s ease-in-out;
}

header {
  translate: -8px -8px;
  width: 100vw;
  height: 64px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  background: var(--header-color);
}

a.avatar {
  z-index: 1;
  display: inline-flex;
  width: 64px;
  height: 64px;
  margin-right: 8px;
  justify-content: center;
  align-items: center;
  position: relative
}

a.avatar:hover .blur {
  backdrop-filter: blur(4px);
}

a.avatar img {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  position: absolute;
}
