@import url(fonts/style.css);

body {
  margin: 8px;
  background: #fff;
}

div.blur {
  width: 100%;
  height: 100%;
  transition: backdrop-filter 0.1s ease-in-out;
}

header {
  translate: -8px -8px;
  width: 100vw;
  height: 64px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  background: #eee;
}

a.avatar {
  z-index: 1;
  display: inline-flex;
  width: 64px;
  height: 64px;
  margin-right: 8px;
  justify-content: center;
  align-items: center;
  position: relative
}

a.avatar:hover .blur {
  backdrop-filter: blur(4px);
}

a.avatar img {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  position: absolute;
}

#logo {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: #000;
  transition: all 1s ease-in-out;
  z-index: 1000;
}

#logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  transition: all 1s ease-in-out;
  pointer-events: none;
}

#logo img {
  width: 100vmin;
  height: 100vmin;
  transition: all 1s ease-in-out;
}

#logo.anim {
  background: #0000;
}

#logo.anim a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
}

#logo.anim img {
  width: 48px;
  height: 48px;
}

#logo.done {
  transition: none;
  width: 64px;
  height: 64px;
}

#logo.done a {
  pointer-events: all;
}

#logo.done a:hover img {
  transition: all 0.5s ease-in-out;
  filter: drop-shadow(0 0 4px #000);
}