@import url(fonts/style.css);

body {
  --background-color: #450057; 
  --header-color: #7c2492;
  --img-color: #681f7a;
  --text-color: #add8e6;
  --link-color: #c000a6;
  --visited-color: #a1008c;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  background: var(--background-color);
  color: var(--text-color);
}

div.blur {
  width: 100%;
  height: 100%;
  transition: backdrop-filter 0.1s ease-in-out;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 64px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  background: var(--header-color);
}

main {
  position: absolute;
  margin-left: 40px;
  margin-right: 40px;
  left: 0;
  top: 64px;
  width: calc(100vw - 16px);
  height: calc(100vh - 80px);
  margin: 8px;
  overflow-y: scroll;
}

a.avatar {
  z-index: 1;
  display: inline-flex;
  width: 64px;
  height: 64px;
  margin-right: 8px;
  justify-content: center;
  align-items: center;
  position: relative
}

a.avatar:hover .blur {
  backdrop-filter: blur(4px);
}

a.avatar img {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  position: absolute;
  background: var(--img-color);
}

a:link {
  color: var(--link-color);
}

a:visited {
  color: var(--visited-color);
}

@media screen and (max-width: 1080px) {
  header {
    height: 100vh;
    width: 64px;
    overflow-x: hidden;
    white-space: wrap;
    overflow-y: scroll;
  }

  main {
    position: fixed;
    left: 64px;
    top: 0;
    width: calc(100vw - 80px);
    height: calc(100vh - 16px);
  }
}