@font-face {
  font-family: Nunito;
  src: url(Nunito.ttf);
  font-style: normal;
}

@font-face {
  font-family: Nunito;
  src: url(Nunito-Italic.ttf);
  font-style: italic;
}

@font-face {
  font-family: Icon;
  src: url(icons.ttf);
  font-weight: 100 700;
  font-variation-settings: 
    'FILL' 0 1,
    'wght' 100 700,
    'GRAD' -25 200,
    'opsz' 20 48;
}

* {
  font-family: Nunito;
}

.icon {
  font-family: Icon;
  font-variation-settings:
    'FILL' 1;
  animation-name: fill;
  animation-duration: 4s;
}